:root {
    --moonsize: 20vw;
    --shade-1: white;
    --shade-2: dimgrey;
}

body {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    margin: 0;
    
    background: radial-gradient(circle 100vw at center, silver 5%, white 10%, midnightblue 15%, black 50%);
}

#moon {
    display: flex;

    width: var(--moonsize);
    height: var(--moonsize);
    border-radius: var(--moonsize);
    margin: auto;
}

#left {
    width: calc(var(--moonsize) / 2);
    height: var(--moonsize);

    border-radius: var(--moonsize) 0 0 var(--moonsize);

    background: var(--shade-2);
}

#right {
    width: calc(var(--moonsize) / 2);
    height: var(--moonsize);

    border-radius: 0 var(--moonsize) var(--moonsize) 0;

    background: var(--shade-1);
}

#moonshade {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    margin: 0;

    background: radial-gradient(calc(0.75 * var(--moonsize)) var(--moonsize), var(--shade-2) 50%, transparent 50%);
}



img {
    width: var(--moonsize);
    height: var(--moonsize);
    position: absolute;
    margin:auto;
    left: calc(50vw - calc(var(--moonsize) / 2));
    opacity: .2;
}