:root {
    --moonsize: 20vw;
    --phase: 0.75;
    --disk-width: calc(var(--phase) * var(--moonsize));

    --dark: dimgrey;
    --light: white;

    --right-hemi: var(--dark);
    --left-hemi: var(--light);
    --shade-disk: var(--light);
}

body {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    margin: 0;
    
    background: radial-gradient(circle 100vw at center, silver 5%, white 10%, midnightblue 15%, black 50%);
}

#moon {
    display: flex;

    width: var(--moonsize);
    height: var(--moonsize);
    border-radius: var(--moonsize);
    margin: auto;

    background: linear-gradient(90deg, var(--left-hemi) 49%, var(--right-hemi) 51%);
}

#left {
    width: calc(var(--moonsize) / 2);
    height: var(--moonsize);

    border-radius: var(--moonsize) 0 0 var(--moonsize);

    background: var(--left-hemi);
}

#right {
    width: calc(var(--moonsize) / 2);
    height: var(--moonsize);

    border-radius: 0 var(--moonsize) var(--moonsize) 0;

    background: var(--right-hemi);
}

#moonshade {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    margin: 0;

    background: radial-gradient(var(--disk-width) var(--moonsize), var(--shade-disk) 50%, transparent 50%),  radial-gradient(calc(var(--disk-width) + 1vw) var(--moonsize), var(--shade-disk) 49%, transparent 51%);
}



img {
    width: var(--moonsize);
    height: var(--moonsize);
    position: absolute;
    margin:auto;
    left: calc(50vw - calc(var(--moonsize) / 2));
    opacity: .2;

    transform: rotate(calc(10deg * var(--phase)));
}

input {
    position: absolute;

    width: calc(2 * var(--moonsize));
    
    top: 80vh;
    left: calc(50vw - var(--moonsize));
}